.container {
    padding: 2rem 0;
    height: 800px;
    display: flex;
    flex-direction: column;
    color: var(--color-500);
    gap: 1rem;
    width: 100%;
    min-width: 100%;
}

.picsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    flex: 1;
}

/* Images */
.bigImg, .minPic {
    height: 100%;
}
.bigImg {
    min-width: 100%;
}
.bigImg > img, .minPic > img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Big container img */
.carouselImgWrapper {
    flex: 1;
    display: flex;
    transition: transform 0.5s ease-in-out; 
    height: 100%;
}

/*  -- Img */
.bigImg {
    min-width: 100%;
}

/* Small Container */
.smallContainer {
    height: 60px;
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .8)
}

.smallPicContainer {
    height: 100%;
    display: flex;
    gap: .5rem;
    width: fit-content;;
}

/* -- Small img */
.minPic {
    width: 25px;
    cursor: pointer;
    transition: all .2s;
    opacity: .5;
}
.minPic:hover {
    transform: scale(1.1);
    opacity: 1;
}
.minPic img.active {
    opacity: 1;
}

/* Button */
.button {
    cursor: pointer;
    padding: 0 .5rem;
    background-color: transparent;
    color: var(--color-500);
    border: none;
}
.button:disabled {
    opacity: .5;
}

/* Text container */
.textContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
/* -- Text */
.text {
    overflow-y: auto;
    max-height: calc(100% - 100px - 2rem - (16px * 2));
    min-height: 200px;
}
.text:first-letter {
    text-transform: uppercase;
}
/* Description container */
.descriptionContainer {
    flex: 1;
}

/* -- Profile pic */
.profilePic {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto 2rem auto;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

/* Icon */
.iconsContainer p {
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.icon {
    display: inline-block;
    margin-right: .5rem;
    filter: invert(100%) sepia(0%) saturate(7443%) hue-rotate(340deg) brightness(121%) contrast(98%);
    height: 16px;
    width: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.icon.type {
    background-image: url('/assets/images/icon/house.svg');
}
.icon.country {
    background-image: url('/assets/images/icon/pin.svg');
}

@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        padding: 2rem 0;
        height: 600px;
    }
    .picsContainer {
        width: 55%;
    }
    .textContainer {
        width: 45%;
    }
    .minPic {
        width: 60px;
    }
    .smallContainer {
        gap: 1rem;
    }
}