.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

/* Form Container */
.formContainer {
    order: 1;
    width: 100%; 
    max-width: 400px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 1.5rem;
}
/* Title */
.title {
    margin-bottom: 4rem;
    text-align: center;
}

/* Loader */
.loaderContainer {
    min-height: 400px;
}
.loader {
    width: 48px;
    height: 48px;
}
.loader::after {
    width: 24px;
    height: 24px;
}

/* Span */
.span {
    height: 100%;
    width: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}
.spanEmail {
    background-image: url('/assets/images/icon/email.svg');
}

@media screen and (min-width: 768px) {
    .section {
        flex-direction: row;
    }
    .formContainer {
        order: 2;
        width: 40%;
    }
    .title  {
        text-align: left;
    }
}