/* Map */
.map {
    height: 400px;
    margin-top: 2rem;
}

/* Button */
.contribButton {
    display: block;
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: var(--radius-500);
    border: 1px solid var(--color-700);
    background-color: var(--color-700);
    color: var(--color-500);
    transition: .2s;
    padding: .372rem 1rem;
}
.contribButton:hover {
    background-color: var(--color-primary);
    border: 1px solid var(--color-500);
}

/* Opinions carousel */
.opinionsCarousel {
    /* display: flex; */
    overflow-x: hidden;
}

.opinionsCarouselWrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.buttonsContainer {
    width: 90%;
    margin: 0 auto;
    max-width: 300px;
    display: flex;
    margin-bottom: 2rem;
    gap: .5rem;
}
.button {
    cursor: pointer;
    flex: 1;
    display: flex;
    border: var(--color-700) 1px solid;
    background-color: var(--color-700);
    color: var(--color-500);
    padding: .375rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button:hover {
    background-color: var(--color-primary);
    border: var(--color-500) 1px solid;
}
.button:disabled {
    opacity: .5;
}