.navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
}

.navigation::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    background-color: var(--color-500);
    height: 1px;
}

.navigation > li {
    width: 100%;
}

.navigation a {
    display: block;
    padding: .5rem 1rem;
    width: 100%;
    height: 100%;
    transition: .2s;
    text-align: center;
}

.navigation a:hover {
    background-color: var(--color-primary-light);
}

@media screen and (min-width: 768px) {
    .navigation {
        width: 20%;
        flex-direction: column;
    }
    .navigation a {
        text-align: left;
    }
    .navigation::after {
        height: 0px;
    }
}

/* Profile link active */
.profileLink {
    background-color: transparent;
    border: none;
    color: var(--color-500);
    width: 100%;
    padding: .5rem;
    cursor: pointer;
    transition: .2s;
}
.profileLink.active,
.profileLink:hover {
    background-color: var(--color-primary-light);
}
