.navigationContainer {
  display: block;
  height: fit-content;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-100%);
  z-index: -1;

  transition: .2s;
}
.navigationContainer.open {
  transform: translateY(70px);
}
/* List */
.navigationList {
  display: flex;
  flex-direction: column;
  padding: var(--size-600) var(--size-700);
  gap: var(--size-600);
  text-transform: uppercase;
  width: 100vw;
  background-color: var(--color-500);

  font-weight: 700;
}
.navigationList li {
  text-align: center;
}

/* Links */
.fromLeft {
  position: relative;
  transform: translateX(-100%);

  transition: .2s;
}
.fromLeft.active {
  transform: translateX(0);
} 

.fromRight {
  position: relative;
  transform: translateX(100%);

  transition: .2s;
} 
.fromRight.active {
  transform: translateX(0);
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .navigationContainer {
    position: static;
    transform: translateY(0);
    font-size: var(--clamp-500);
  }

  .navigationList {
    flex-direction: row;
    gap: var(--size-500);
    padding: 0;
    width: auto;
  }

  .fromLeft, .fromRight {
    transform: translateX(0);
  }
}

@media screen and (min-width: 1024px) {
  .navigationList {
    gap: var(--size-600);
  }
}