.container {
    border: 1px solid var(--color-700);
}
/* Place List */
.placesList {
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
    gap: .8rem;
}

/* Input */
.inputContainer {
    margin-right: 0 !important;
}
.input label {
    background-color: var(--color-primary);
}
/* Stage container */
.stageContainer {
    padding: 1rem .5rem;
}
.stageContainer, .placesContainer, .addContainer {
    display: none;
}
.stageContainer.open,
.placesContainer.open,
.addContainer.open {
    display: flex;
    flex-direction: column;
    animation: fromBottom .2s forwards;
    overflow: hidden;
}

/* Add container */
.addContainer.open {
    gap: 1rem;
}

/* Search Container */
.searchContainer {
    flex-direction: column;
}

/* Add place container */
.addPlaceContainer,
.searchContainer {
    display: flex;
    gap: 1rem;
}

.addContainer {
    min-height: 300px;
}
.addPlaceContainer > div {
    width: 50%;
}
@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Buttons */
.dayButton {
    width: 90px;
    justify-content: center;
}
.searchButton, .addButton {
    background-color: var(--color-500);
    color: var(--color-800);
    cursor: pointer;
    font-weight: 700;
    padding: .375rem .5rem;
    width: fit-content;
}
.searchButton {
    border-bottom-right-radius: var(--radius-500);
}
.searchButton:hover, .addButton:hover {
    background-color: var(--color-450);
}
.inputContainer {
    margin-right: 0 !important;
}
.addButton {
    margin: 2rem auto 0 auto;
    animation: fadeIn .2s forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

/* Map */
.littleMap {
    height: 300px;
    animation: fromRight .2s forwards;
    display: flex;
    flex-direction: column;
}

@keyframes fromRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Location list */
.locationList {
    max-height: 200px;
    overflow-y: auto ;
    list-style: disc;
}
.locationList > li {
    cursor: pointer;
    padding: .5rem 0;
    color: var(--color-500);
    transition: .2s;
}
.locationList > li.activeJsonDrawLocation,
.locationList > li:hover {
    background-color: var(--color-700);
}

/* Autocomplete container */
.autocompleteContainer {
    display: flex;
    flex-direction: column;
}
.autocompleteContainer input {
    font-family: var(--ff-secondary);
}
.autocompleteContainer > div {
    position: relative;
} 