@font-face {
    font-family: 'Wulkan Display';
    src: url('./fonts/WulkanDisplay/WulkanDisplayBlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Wulkan Display';
    src: url('./fonts/WulkanDisplay/WulkanDisplayBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Wulkan Display';
    src: url('./fonts/WulkanDisplay/WulkanDisplayRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Wulkan Display';
    src: url('./fonts/WulkanDisplay/WulkanDisplayLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Wulkan Display';
    src: url('./fonts/WulkanDisplay/WulkanDisplayMediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Wulkan Display';
    src: url('./fonts/WulkanDisplay/WulkanDisplayLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Wulkan Display';
    src: url('./fonts/WulkanDisplay/WulkanDisplayItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Wulkan Display';
    src: url('./fonts/WulkanDisplay/WulkanDisplayMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Wulkan Display';
    src: url('./fonts/WulkanDisplay/WulkanDisplayBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Wulkan Display';
    src: url('./fonts/WulkanDisplay/WulkanDisplayBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Wulkan Display';
    src: url('./fonts/WulkanDisplay/WulkanDisplaySemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Wulkan Display';
    src: url('./fonts/WulkanDisplay/WulkanDisplaySemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Now Text';
    src:url('./fonts/HelveticaNowText/HelveticaNowText-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Text';
    src:url('./fonts/HelveticaNowText/HelveticaNowText-ExtBdIta.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Text';
    src: url('./fonts/HelveticaNowText/HelveticaNowText-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Text';
    src: url('./fonts/HelveticaNowText/HelveticaNowText-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Text';
    src: url('./fonts/HelveticaNowText/HelveticaNowText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Text';
    src: url('./fonts/HelveticaNowText/HelveticaNowText-RegIta.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Text';
    src: url('./fonts/HelveticaNowText/HelveticaNowText-ExtLtIta.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Text';
    src: url('./fonts/HelveticaNowText/HelveticaNowText-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Text';
    src: url('./fonts/HelveticaNowText/HelveticaNowText-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Text';
    src: url('./fonts/HelveticaNowText/HelveticaNowText-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Text';
    src: url('./fonts/HelveticaNowText/HelveticaNowText-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Text';
    src: url('./fonts/HelveticaNowText/HelveticaNowText-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Text';
    src: url('./fonts/HelveticaNowText/HelveticaNowText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Text';
    src: url('./fonts/HelveticaNowText/HelveticaNowText-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Text';
    src: url('./fonts/HelveticaNowText/HelveticaNowText-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Text';
    src: url('./fonts/HelveticaNowText/HelveticaNowText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

:root {
    --color-primary: #758C57;
    --color-secondary: #DAD873;

    --color-900: #000;
    --color-800: #454D66;
    --color-700: #309975;
    --color-600: #EFEEB4;
    --color-500: #fff;

    --color-900-tr: rgba(0, 0, 0, 50%);
    --color-500-tr: rgba(255, 255, 255, 80%);

    --ff-primary: 'Wulkan Display', sans-serif;
    --ff-secondary: 'Helvetica Now Text', sans-serif;

    --fs-400 : 1rem;

    --fs-450 :  clamp(1rem, .875rem + .4vi, 1.125rem);
    --fs-500 : clamp(1.25rem, 1.09rem + 0.8vi, 1.75rem);
    --fs-600 : clamp(1.5rem, 1.34rem + 0.8vi, 2rem);
    --fs-700 : clamp(1.75rem, 1.2143rem + 2.6786vw, 2.5rem);
    --fs-900 : 3.125rem;


    /* Reorganize */
    --clamp-500: clamp(0.875rem, 0.5272rem + 0.7246vw, 1.125rem);
    --clamp-560: clamp(1.125rem, 1.045rem + .4vi, 1.375rem);
    --clamp-600: clamp(1.25rem, 1.0714rem + 0.8929vw, 1.5rem);
    --clamp-650: clamp(1.375rem, 1.2011rem + 0.3623vw, 1.5rem);
    --clamp-700: clamp(1.5rem, 1.34rem + 0.8vi, 2rem);  
    --clamp-800: clamp(1.75rem, 2vw, 2rem);

    --size-300 : .5rem;
    --size-400 : .825rem;
    --size-500 : 1rem;
    --size-600 : 1.5rem;
    --size-700 : 2rem;

    --section-p-xs : 1.5rem 1rem;
    --section-p-xl : 3.625rem 5rem;

    --size-hamburger: clamp(2.375rem, 1.8393rem + 2.6786vw, 3.125rem);
    --size-compass: clamp(12.5rem, 7.2826rem + 10.8696vw, 16.25rem);

    --radius-500 : 15px;

    --image-size : clamp(15.625rem, 12.625rem + 15vi, 25rem);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    min-height: 120vh;
    font-family: var(--ff-primary);
    font-size: var(--fs-400);
    color: var(--color-900);

    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: .08rem;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.typical-section {
    width: 100%;
    padding: var(--section-p-xs);
}

/* Navigation */
nav a::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    height: 3px;
    width: 0;
    transition: .2s ease-in-out;
}

nav a.active::before {
    width: 54px;
    background-color: var(--color-secondary);
}

nav a:hover::before {
    width: 54px;
    background-color: var(--color-secondary);
} 

/* Buttons */
.button {
    background-color: var(--color-secondary);
    color: var(--color-500);
    padding: var(--size-300) var(--size-500);
    border-radius: var(--radius-500);
    border-color: transparent;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: .08rem;
}

/* Inputs */
.input {
    border-radius: var(--radius-500);
    padding: var(--size-300) var(--size-500);
    border-color: transparent;
    background-color: var(--color-500-tr);
    /* TODO */
    /* box-shadow: */
}
.input::placeholder {
    color: var(--color-900-tr);
}
.input:focus-visible {
    border-color: var(--color-secondary);
}

/* Links */
.link {
    height: fit-content;
    overflow-y: visible;
    overflow-x: clip;
}
.link::after {
    content: '';    
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    transition: .2s ease-in;
}
.link:hover::after {
    transform: translateX(100%);
}

/* Media Screen */
@media screen and (min-width: 768px) {
    .typical-section {
        padding: var(--section-p-xl);
    }
}