.map {
    height: 500px;
    width: 100%;
    margin-bottom: 2rem;
}
.littleMap {
    height: 300px;
    animation: fromRight .2s forwards;
}

@keyframes fromRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.standartInformations {
    display: flex;
    gap: 1rem;  
}
.standartInformations > div:first-child {
    flex: 1;
}

/* Days container */
.daysContainer {
    display: none;
}
.daysContainer.open {
    padding: .5rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    animation: fromBottom .2s forwards;
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* -- Input */
.input label {
    background-color: var(--color-primary);
}
.inputSearch {
    display: flex;
    gap: 1rem;
}

/* Button */
.button {
    cursor: pointer;
    border: none;
    color: var(--color-500);
    padding: .375rem .5rem;
    background-color: var(--color-700);
}
.openButton {
    display: flex;
    gap: .5rem;
}
.openButton .openIcon {
    transition: transform .2s;
}
.openButton.open .openIcon {
    transform: rotate(90deg);
}
/* Stage Buttons container */
.stageButtonsContainer {
    
}   
.stageButtonsContainer.open {
    display: flex;
    gap: 1rem;
}
/* -- Hidden Container */
.stageHiddenContainer {
    position: relative;
    display: none;
}
.stageHiddenContainer.open {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
}


/* -- Differents form */
.stageFormContainer {
    display: none;
}
.stageFormContainer.open {
    display: flex;
    gap: 1rem;
    min-height: 300px;
}
.stageFormContainer.open > div {
    width: 50%;
}
/* -- Buttons */
.stageButtonsContainer {
    display: flex;
    gap: 1rem;
}

/* Place SearchContainer */
.activityContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.searchButton, .addButton {
    background-color: var(--color-500);
    color: var(--color-800);
    cursor: pointer;
    font-weight: 700;
    padding: .375rem .5rem;
    width: fit-content;
}
.searchButton {
    border-bottom-right-radius: var(--radius-500);
}
.searchButton:hover, .addButton:hover {
    background-color: var(--color-450);
}
.inputContainer {
    margin-right: 0 !important;
}
.addButton {
    margin: 2rem auto 0 auto;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}