.header {
  font-family: var(--ff-secondary);

  height: 70px;
  width: 100vw;
  background-color: var(--color-500);
  position: fixed;
}

.navigationContainer {
  width: 100%;
  height: 100%;
  z-index: 999;
  padding: 0 var(--size-700);
  background-color: var(--color-500);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: var(--fs-600);

  font-weight: 900;
  text-transform: uppercase;
}

/* Hambuger */
.hamburgerContainer {
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger {
  width: 100%;
  height: calc(6px + (15px * 2));
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.hamburger span {
  display: block;
  position: absolute;
  height: 6px;
  width: 50%;
  background: var(--color-900);
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.hamburger span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

.hamburger span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

.hamburger span:nth-child(1),
.hamburger span:nth-child(2) {
  top: 0px;
}

.hamburger span:nth-child(3),
.hamburger span:nth-child(4) {
  top: 15px;
}

.hamburger span:nth-child(5),
.hamburger span:nth-child(6) {
  top: 30px;
}

.hamburger.open span:nth-child(1),
.hamburger.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger.open span:nth-child(2),
.hamburger.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburger.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

.hamburger.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

.hamburger.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.hamburger.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.hamburger.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

.hamburger.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

.hamburger.open span:nth-child(1),
.hamburger.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger.open span:nth-child(2),
.hamburger.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburger.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

.hamburger.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

.hamburger.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.hamburger.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.hamburger.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

.hamburger.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--size-700);
  }
  .title {
    font-size: var(--clamp-600);
  }
  .navigationContainer {
    width: fit-content;
    padding: 0;
  }
  .hamburgerContainer {
    display: none;
  }
}