.header {
    font-family: var(--ff-secondary);

    height: 70px;
    width: 100vw;
    padding: 0 var(--size-700);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: var(--fs-600);

    font-weight: 900;
    text-transform: uppercase;
}
