.actvitiesContainer, .mapContainer {
    margin: 0 auto;
    width: 90%;
    background-color: var(--color-primary);
    border-radius: var(--radius-500);
    box-shadow: var(--shadow);
    padding: 2rem;
}
.actvitiesContainer {
    max-width: 1100px;
}

.mapContainer {
    max-width: 600px;
}
.secondTitle {
    color: var(--color-500);
    text-align: center;
    margin-bottom: 2rem;
}

.formFieldsContainer {
    display: flex;
    border: solid 1px var(--color-700);
    border-radius: var(--radius-500);
}
.formFieldsContainer input:not(.submit) {
    background-color: transparent;
    border: none;
    padding: .5rem;
}
.formFieldsContainer input, 
.formFieldsContainer label {
    color: var(--color-500);
}

.formFieldsContainer label,
.submit {
    background-color: var(--color-700);
    color: var(--color-500);
    border: none;
    padding: .5rem 1rem;
}

.searchInputContainer label {
    border-radius: 15px 0 0 15px;
}

.searchInputContainer {
    flex: 1; 
    display: flex;
}

.searchInputContainer input {
    flex: 1;
}

.submit {
    cursor: pointer;
    border-radius: 0 15px 15px 0;
}
.submit:hover {
    background-color: var(--color-650);
}

.searchFormContainer input::placeholder {
    color: var(--color-500-tr);
}

.autocompleteContainer {
    display: flex;
}
.autocompleteContainer > div {
    position: relative;
} 

.mapForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--color-500);
}
.input {
    border-color: var(--color-500) !important;
}

.input > label {
    background-color: var(--color-primary) !important;
}

.input input, .input textarea {
    color: var(--color-500) !important;
}

.input input::placeholder, .input textarea::placeholder {
    color: var(--color-500-tr) !important;
}


/* Map */
.map > p {
    font-size: var(--fs-500);
    font-weight: 600;
}

.map > div {
    height: 350px;
}

.lgnLat {
    height: fit-content !important;
    margin: 1rem 0 2rem 0;
}
.lgnLat p {
    padding-bottom: 1rem;
}

.lgnLat .smallExemple {
    font-family: var(--ff-secondary);
    padding: 2rem;
}

.button {
    border: none !important;
    margin-top: 2rem;
}

.button:hover {
    border: 0 !important;
    background-color: var(--color-450);
    margin: 2rem 0 0 0 !important;
}

.link {
    text-decoration: underline;
}

.lgnLatExample {
    font-family: var(--ff-secondary);
    padding-left: 2rem;
}


/* Map search activities */
.searchMapContainer {
    width: 100%;
    height: 400px;
    margin: 1rem 0;
}

/* Activities */
.activitiesContainer {
    margin-top: 2rem;
    color: var(--color-500);
}

/* Loader */
.loaderContainer {
    padding-top: 2rem;
}

/* Input */
.searchInputContainer input,
.autocompleteContainer input {
    font-family: var(--ff-secondary);
}